In [2]:
import pandas as pd

ny_df = pd.read_csv("new_york.csv")
global_df = pd.read_csv("global.csv")

In [3]:
ny_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 2 columns):
year        271 non-null int64
avg_temp    266 non-null float64
dtypes: float64(1), int64(1)
memory usage: 4.3 KB

In [4]:
ny_df.head()

   year  avg_temp
0  1743      3.26
1  1744     11.66
2  1745      1.13
3  1746       NaN
4  1747       NaN

In [5]:
global_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 2 columns):
year        266 non-null int64
avg_temp    266 non-null float64
dtypes: float64(1), int64(1)
memory usage: 4.2 KB

In [6]:
global_df.head()

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47

In [15]:
ny_df['moving_average'] = ny_df['avg_temp'].rolling(7).mean()

In [16]:
ny_df.head(20)

    year  avg_temp  Rolling Averages  moving_average
0   1743      3.26               NaN             NaN
1   1744     11.66               NaN             NaN
2   1745      1.13               NaN             NaN
3   1746       NaN               NaN             NaN
4   1747       NaN               NaN             NaN
5   1748       NaN               NaN             NaN
6   1749       NaN               NaN             NaN
7   1750     10.07               NaN             NaN
8   1751     10.79               NaN             NaN
9   1752      2.81               NaN             NaN
10  1753      9.52               NaN             NaN
11  1754      9.88               NaN             NaN
12  1755      6.61               NaN             NaN
13  1756      9.94          8.517143        8.517143
14  1757      8.89          8.348571        8.348571
15  1758      8.15          7.971429        7.971429
16  1759      9.01          8.857143        8.857143
17  1760      7.73          8.601429        8.601429
18  1761     10.18          8.644286        8.644286
19  1762      9.55          9.064286        9.064286

In [17]:
global_df['moving_average'] = ny_df['avg_temp'].rolling(7).mean()

In [18]:
global_df.head(20)

    year  avg_temp  moving_average
0   1750      8.72             NaN
1   1751      7.98             NaN
2   1752      5.78             NaN
3   1753      8.39             NaN
4   1754      8.47             NaN
5   1755      8.36             NaN
6   1756      8.85             NaN
7   1757      9.02             NaN
8   1758      6.74             NaN
9   1759      7.99             NaN
10  1760      7.19             NaN
11  1761      8.77             NaN
12  1762      8.61             NaN
13  1763      7.50        8.517143
14  1764      8.40        8.348571
15  1765      8.25        7.971429
16  1766      8.41        8.857143
17  1767      8.22        8.601429
18  1768      6.78        8.644286
19  1769      7.69        9.064286